@model TelerikAcademy.TripyMate.Web.Models.Post.PostCreateViewModel
@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new Trip.</h4>
    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="main-agileits">
                        <div class="mainw3-agileinfo form">
                            <div id="login">
                                <form action="#" method="post">
                                    <div class="field-wrap">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                        <label> Enter Trip Title<span class="req">*</span> </label>
                                    </div>
                                    <div class="field-wrap">
                                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control"})
                                        <label> Enter Trip description<span class="req">*</span> </label>
                                    </div>
                                    <div class="field-wrap">
                                        @Html.DropDownListFor(m => m.StartTown, new SelectList(Model.StartTowns, "ID", "Name"), "Select Start Town", new { @class = "form-control" })
                                        <label> You must pick a starting destination!<span class="req">*</span> </label>
                                    </div>
                                    <div class="field-wrap">
                                        @Html.DropDownListFor(m => m.EndTown, new SelectList(Model.EndTowns, "ID", "Name"), "Select End Town", new { @class = "form-control" })
                                        <label> You must pick a starting destination!<span class="req">*</span> </label>
                                    </div>
                                    <input type="submit" class="button button-block" value="Create" />
                                </form>
                            </div>
                        </div>
                    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/formjs")
}
