@model List<TelerikAcademy.TripyMate.Web.Models.Post.PostViewModel>

@{
    ViewBag.Title = "Post Search";
}
<h2>@ViewBag.Title</h2>
<h4>Search for a trip by start and end destination.</h4>
<hr />

<div id="searchform">
    @Html.Partial("_PostSearchForm")
</div>

<div id="results">
    @Html.Partial("_PostResult", Model)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/formjs")
}