@using TelerikAcademy.TripyMate.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="main-agileits">
                    <h1>Register</h1>
                    <div class="mainw3-agileinfo form">
                        <div id="login">
                            <form action="#" method="post">
                                <div class="field-wrap">
                                    @Html.TextBoxFor(m => m.Email, new {})
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    <label> Enter Your Email<span class="req">*</span> </label>
                                </div>
                                <div class="field-wrap">
                                    @Html.PasswordFor(m => m.Password, new { })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    <label> Enter Your Password<span class="req">*</span> </label>
                                </div>
                                <div class="field-wrap">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="req">Remember me</span>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                        </div>
                                    </div>                                

                                </div>
                                <input type="submit" class="button button-block" value="Log-in" />
                            </form>
                            <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                        </div>
                    </div>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/formjs")
}